{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "See a Tour of GuardForce" "subtitle" "See how GuardForce optimizes critical HR, payroll, and talent management processes.") }}

{{ partial "short-text" (dict "heading" "Welcome to Southernsoft Tech!" "text" "Security Guard ERP HRMS/Payroll/Adempiere Accounting and Scheduling Software . It's all we do. At Southernsoft Technologies, delivering the best HR and payroll solution to help you improve your workforce management is our exclusive focus. Whether you are looking for HR software, payroll software, or a convenient payroll service, our integrated solutions include flexible human resources management, benefits administration, payroll processing, scheduling management, and time and attendance functionality, along with a workforce portal, powerful reporting, and business intelligence tools combined with the power of Adempiere ERP.")}}

{{ partial "2-up" (dict "heading" "Security Experts" "description" "Southernsoft Technologies have become the defacto company for Security Guard Companies. We are Experts!" "svg1" "img/home/security-guard-software.jpg" "text1" "We sell green and roasted coffee beans that are sourced directly from independent farmers and farm cooperatives. We’re proud to offer a variety of coffee beans grown with great care for the environment and local communities. Check our post or contact us directly for current availability." "svg2" "/img/home/security-software.jpg" "text2" "We offer a small, but carefully curated selection of brewing gear and tools for every taste and experience level. No matter if you roast your own beans or just bought your first french press, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Customer Stories" "text" "Find out how GuardForce ERP allowed Group 4 Securicor International to strengthen and streamline HR processes without burdening IT." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
